html, body {
  margin: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: sans-serif;
}

main {
  max-width: 35em;
  margin: auto;
}

header {
  background: #222;
  padding: 1em 0;
  text-align: center;
}

  header a {
    color: #fff;
    text-decoration: none;
  }

article {
  border-bottom: 1px solid #ccc;
}

h2 {
  margin-top: 1em;
}

time {
  color: #444;
  font-size: 75%;
  font-style: italic;
}

form div label,
form div input,
form div textarea,
form div button {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

form div textarea {
  font-family: sans-serif;
  height: 3em;
  resize: vertical;
}

.pagination {
  margin: 1em 0;
}

.pagination-link {
  padding: 0.3em 0.6em;
  background: #eee;
  color: #333;
  border: 1px solid #ccc;
  text-decoration: none;
  border-right: none;
  display: inline-block;
}

  .pagination-link:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
  }

  .pagination-link:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-right: 1px solid #ccc;
  }

  .pagination-link:hover {
    background: #fff;
  }

.pagination-link-active {
  background: #333;
  color: #eee;
  border-color: #333;
}

  .pagination-link-active:hover {
    background: #333;
  }

.comment {
  border-left: 0.2em solid #ddd;
  margin: 1em 0;
  padding-left: 0.5em;
}

.comment-author {
  font-weight: bold;
  color: #666;
}

  .comment-author:after {
    color: #ccc;
    content: ' \2022 ';
  }

.signature {
  text-align: right;
  font-style: italic;
}
