<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - Happy blog</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
	<link href="{{ asset('assets/common.css') }}" rel="stylesheet">
	{% block stylesheets %}{% endblock %}
</head>
<body>

<header>
	<h1><a href="{{ path('app_post_list') }}">Happy blog</a></h1>
</header>

<main>
	{% block body %}{% endblock %}
</main>

{% block javascripts %}{% endblock %}
</body>
</html>
