{% extends 'base.html.twig' %}
{% block title %}List of posts{% endblock %}
{% block body %}

	{% for post in posts %}
		<article>
			<h2><a href="{{ path('app_post_view', {'id': post.id}) }}">{{ post.heading }}</a></h2>
			<time>Posted {{ post.createdAt | date('Y-m-d') }}</time>
			<p>{{ post.excerpt }}</p>
		</article>
	{% endfor %}

	{% spaceless %}
	<div class="pagination">
		{% if currentPage != 1 %}
			<a class="pagination-link" href="{{ path('app_post_list', {'page': currentPage-1}) }}">&lt;</a>
		{% endif %}

		{% for pageNumber in pageNumbers %}
			{% if pageNumber == currentPage %}
				<span class="pagination-link pagination-link-active">{{ pageNumber }}</span>
			{% else %}
				<a class="pagination-link" href="{{ path('app_post_list', {'page': pageNumber}) }}">{{ pageNumber }}</a>
			{% endif %}
		{% endfor %}

		{% if currentPage != max(pageNumbers) %}
			<a class="pagination-link" href="{{ path('app_post_list', {'page': currentPage+1}) }}">&gt;</a>
		{% endif %}
	</div>
	{% endspaceless %}

{% endblock %}
