{% extends 'base.html.twig' %}
{% block title %}{{ post.heading }}{% endblock %}
{% block body %}

	<article>
		<h2><a href="{{ path('app_post_view', {'id': post.id}) }}">{{ post.heading }}</a></h2>
		<time>Posted {{ post.createdAt | date('Y-m-d') }}</time>
		{% for paragraph in post.paragraphs %}
			<p>{{ paragraph }}</p>
		{% endfor %}
		<p class="signature">—the happy crew</p>
	</article>

	<p>Feel like you have something valuable to add to the conversation? Open yourself up—type it out. Just remember, keep it happy!</p>
	{{ form_start(commentForm) }}
		{{ form_widget(commentForm) }}
	{{ form_end(commentForm) }}

	{% for comment in comments %}
		<div class="comment">
			<div>
				<span class="comment-author">{{ comment.author }}</span> <time>{{ comment.createdAt | date('Y-m-d') }}</time>
			</div>
			<p>{{ comment.body }}</p>
		</div>
	{% else %}
		<p>There are no comments for this post… yet!</p>
	{% endfor %}

{% endblock %}
